services:
  db:
    image: postgres:13
    container_name: todo_db
    command: >
      sh -c "sleep 5 &&
             uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres_login}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres_password}
      POSTGRES_DB: ${POSTGRES_DB:-postgres_database}
    volumes:
      - postgres_data:/var/lib/postgresql/data
#    ports:
#      - "5432:5432"

  web:
    build: .
    container_name: todo_web
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    environment:
      DATABASE_URL: ${DATABASE_URL:-postgresql://postgres_login:postgres_password@db/postgres_database}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY:-12345}
      PYTHONPATH: /app
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:
